@model List<DevBlog.Models.PostModel>
@{ 
    int length = Model.Count();
    int index = 1;
}

@foreach (var post in Model)
{
    <div class="margin-top-20" data-post-id="@post.Id">
        <h3><a href="~/Blog/View/@post.Id" class="post-title">@post.Title</a></h3>
        <div class="">
            @post.Content
        </div>
        <div class="margin-top-10">
            @foreach (var tag in post.TagNames)
            {
                <span class="tag">@tag</span>
            }
        </div>
    </div>
    @if (index != length)
    {
        <hr />
    }

    index++;
}

