@model List<DevBlog.Models.PostModel>
@{ 
    int length = Model.Count();
    int index = 1;
}

<div class="margin-top-50"></div>

@foreach (var post in Model)
{
    <div class="blog-post margin-top-20" data-post-id="@post.Id">
        <h3>
            <a href="~/Blog/View/@post.Id" class="post-title">@post.Title</a>
            <a href="~/Blog/Delete/@post.Id"><img src="~/images/delete.png" class="icon" /></a>
            <a href="~/Blog/Post/@post.Id"><img src="~/images/pencil.png" class="icon" /></a>
        </h3>
        <div class="">
            @post.Content
        </div>
        <div class="margin-top-10">
            @foreach (var tag in post.TagNames)
            {
                <span class="tag">@tag</span>
            }
        </div>
    </div>
    @if (index != length)
    {
        <hr />
    }

    index++;
}

@if (length == 0)
{
    <div class="margin-top-20 text-center">
        <h3>There are no posts yet!</h3>
    </div>
}

