
<form class="margin-top-25" method="post" action="~/BlogPost/Save">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input class="form-control" id="title" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="postContent">Content</label>
        <textarea class="form-control" rows="12" id="content" name="content" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
        <label for="postTags">Tags</label>
        <input class="form-control" id="tags" name="tags" placeholder="Tags">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

