@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/elasticsearch-logo.png" alt="elasticsearch" class="img-responsive header-image" />
        </div>
    </div>
</div>

<div class="row">

</div>
